.services-card{
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 30px 25px;
    border-left: 1px solid rgba(11, 12, 12, .1);
    border-bottom: 1px solid rgba(11, 12, 12, .1);

        svg{
            transition: all .5s ease-out;
        }
}
.services-content{
    .title-category{
        margin-bottom: 15px;
        h2{
            color: black;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 2px;
            line-height: 1;
        }
        p{  
            font-size: 16px;
            font-weight: 400;
            line-height: 1.7;
            margin-bottom: 0;
        }
    }
}
@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.group:hover .icon {
  animation: spin-once 0.6s linear; // xoay 1 vòng mỗi lần hover
}
