.comment{
        position: relative;
    padding: 90px 6.5% 30px;
    .swiper-slide{
        width: 543px !important;
    }
    .container-fluid{
        margin: 0;
    }
    p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .54px;
    margin-bottom: 25px;
    }
    h2{
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0;
    }
}
