@use './variables' as *;
@use './mixins' as *;
* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-md;
  line-height: 1.5;
  color: $dark-color;
  margin: 0;
  padding: 0;
}

#root {
  --bs-primary: #000000;
  --bs-primary-rgb: 0, 0, 0;
  height: 100vh;
}
