
@import "tailwindcss";


@tailwind base;
@tailwind components;


a {
  text-decoration: none; 
  color: inherit;      
  transition: none;     
} 

@theme {
  --bs-primary: #000000;
  --bs-primary-rgb: 0, 0, 0;
}
.bg-primary {
  background-color: #000000 !important;
}