@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
//variables.scss
$primary-color: #000000;
$light-blue-color: #aed0ff;
$light-green-color: #c9dc82;
$text-color-text: #000000;
$background-color: #ffffff;
$success-color: #198754;
$warning-color: #ffc107;
$danger-color: #dc3545;
$secondary-color: #6c757d;
$dark-color: #000000;

$font-family: "Inter", sans-serif;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

$border-radius: 10px;
$border-radius-lg: 12px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.15);
$transition: all 0.2s ease-in-out;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Button heights
$button-height-sm: 36px;
$button-height-lg: 52px;

//Button width
$button-width-sm: 124px;
$button-width-lg: 200px;
// Button border radius
$button-radius-sm: 8px;
$button-radius-lg: 16px;
// Button padding
$button-padding-sm: 0 16px;
$button-padding-lg: 0 20px;
// Button font size
$button-font-sm: 14px;
$button-font-lg: 16px;
