.home2-about-section{
    .container{
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding-right: .75rem;
            padding-left: .75rem;
            justify-content: center;
    }
    .about-content-wrap{
        .about-title{
            text-align: center;
            margin-bottom: 65px;
            span{
                    color: var(--title-color);
            font-family: var(--font-inter);
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            letter-spacing: .36px;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            gap: 6px;
            padding: 8px 10px;
            border: 1px solid var(--border-color);
            background: rgba(233, 229, 255, .6);
            border-radius: 5px;
            margin-bottom: 5px;
            }
            h2{
                font-size: 60px;
                font-style: normal;
                font-weight: 800;
                line-height: 1.2;
                width: 1382px;
            }
        }
        .about-countdown-wrap{
            max-width: 900px;
            width: 100%;
            margin: 0 auto 65px;
            .single-countdown{
                text-align: center;
                .content{
                    p{
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 1.6;
                            margin-bottom: 0;
                    }
                }
            }
        }
    }
    
}